[submodule "nxs-omz/plugins/zsh-completions"]
	path = nxs-omz/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "nxs-omz/plugins/zsh-autosuggestions"]
	path = nxs-omz/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "nxs-omz/plugins/fast-syntax-highlighting"]
	path = nxs-omz/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "local/share/nvim/site/pack/nxs/start/nord.nvim"]
	path = local/share/nvim/site/pack/nxs/start/nord.nvim
	url = https://github.com/shaunsingh/nord.nvim
